---
import Footer from "@components/Footer.astro";
import { NavBar } from "../solid/Navbar.jsx";

export interface Props {
  title: string;
  description: string;
  image: {
    url: string;
    alt: string;
  };
  ogUrl: string;
  bodyColor: string;
}

const {
  title,
  description,
  image: { url, alt },
  ogUrl,
  bodyColor,
} = Astro.props as Props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />   
    <meta content="width=device-width" name="viewport" />   
    <meta content={Astro.generator} name="generator" />
    <link href="/favicon.ico" rel="icon" type="image/svg+xml" />

    <title>{title}</title>

    <!-- HTML Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Normal Meta Tags -->
    <meta property="og:url" content={ogUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={url} />
    <meta property="og:image:alt" content={alt} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="salam.app" />
    <meta property="twitter:url" content={ogUrl} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={url} />
    <!-- HTML Meta Tags -->
  </head>
  <body class={`bg-${bodyColor}`}>
    <NavBar client:load />

    <slot />
    <Footer />
  </body>
</html>

